.checked {
    color: #9f9f9f;
}
.todo_list_wrapper {
    max-width: 960px;
    margin: 0 auto;
}
.list {
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
}
.delete {
    color: #ff0000;
    cursor: pointer;
}
.edit {
    color: #0000ff;
    cursor: pointer;
}
